---
import Layout from "../layouts/Layout.astro";
import LatencyChecker from '../components/LatencyChecker.astro'

---

<Layout title="Latency Test" description="Let's Check your Connection 👀">
	<div class="app">
		<h1>Latency Tester</h1>
		<h2>Simple and Fast Latency Checker w/HTTP(s) request 🚀</h2>
		<LatencyChecker />
	</div>
</Layout>

<style>
	.app {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
</style>